* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: font1;
    src: url("../fonts/pisava1.woff2") format("woff2");
}

@font-face {
    font-family: font2;
    src: url("../fonts/pisava2.woff2") format("woff2");
}

@font-face {
    font-family: font3;
    src: url("../fonts/pisava3.woff2") format("woff2");
}

@font-face {
    font-family: font4;
    src: url("../fonts/pisava4.woff2") format("woff2");
}

@font-face {
    font-family: font5;
    src: url("../fonts/pisava5.woff2") format("woff2");
}

@font-face {
    font-family: font6;
    src: url("../fonts/pisava6.woff2") format("woff2");
}

@font-face {
    font-family: font7;
    src: url("../fonts/pisava7.woff2") format("woff2");
}

@font-face {
    font-family: font8;
    src: url("../fonts/pisava8.woff2") format("woff2");
}

@font-face {
    font-family: font9;
    src: url("../fonts/pisava9.woff2") format("woff2");
}

@font-face {
    font-family: font10;
    src: url("../fonts/pisava10.woff2") format("woff2");
}

.swal-button {
    background-color: hsl(235 calc(1 * 85.6%) 64.7% / 1) !important;
    outline-style:none;
    border:none;
    opacity: 0.9;
    
}
.swal-button:hover {
    opacity: 1;
}

.swal-text {
    color: oklab(0.786807 -0.0025776 -0.0110238);
    font-size: 18px;
    font-family: font1;
}

.swal-title{
    font-size: 30px;
    line-height: 1.25;
    margin-bottom: 8px;
    color: oklab(0.963963 -0.000228554 -0.00283051);
    font-family: font6;
    font-weight: 900;
    font-style: normal;
}

.swal-modal{
    background-color: oklab(0.321088 -0.000220731 -0.00934622);

}

.swal-icon--success::before,.swal-icon--success::after,.swal-icon--success__hide-corners{
    opacity: 0 !important;
}

.swal-icon--success{
   border-color: #2B7A0B !important;

}


html,
body {
    height: 100%;
    width: 100%;
    overflow: visible;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.background {
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.discordLogo {
    position: absolute;
    top: 48px;
    left: 48px;
}

.discordLogo2{
    width: 130px;
    height: 36px;
    flex-shrink: 0;
    margin-bottom: 16px;
    display: none;
    
}


button {
    border: 0;
    outline: 0;
}

input {
    border: 0;
    outline: 0;
    
}

.labelInput {
    font-size: 12px;
    line-height: 1.3333333333333333;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .02em;
    width: 100%;
    color: oklab(0.786807 -0.0025776 -0.0110238);
    margin-bottom: 8px;
    display: block;
    font-family: font7;
    margin-right: 0px;
    padding: 0;
    border: 0;
    cursor: default;
    user-select: none;
}


label span {
    width: auto;
    font-weight: 700;
    line-height: 1.3333333333333333;
    letter-spacing: .02em;
    font-family: font8;
    font-size: 100%;
    vertical-align: baseline;
    padding-left: 1px;
    font-size: 12px;
    font-family: inherit;
    width: 100%;
    color: hsl(358 calc(1 * 92.9%) 72.4% / 1);
    font-size: 12px;
    font-weight: 500;
    text-transform: none;
    
}

.zunanjiForm {
    height: auto;
    width: 416px;
    padding: 32px;
    border-radius: 5px;
    background-color: rgb(49, 51, 56);
    box-shadow: 0 2px 10px 0 hsl(0 calc(1 * 0%) 0% / 0.2);
    display: flex;
    transition: height 0.1s ease-out;
    transition: padding 0.1s ease-out;
}

@media (max-width:485px) {
    .zunanjiForm {
        height: 100%;
        width: 100%;
        padding: 20px 16px;
        flex-direction: column;
        box-sizing: border-box;
        overflow: scroll;
        align-items: center;
        border-radius: 0px;
        
    }
    .center{
        position: relative;
        min-height: 540px;
        
    }

    .discordLogo {
        display: none;
    }

    .discordLogo2{
        display: block;
    }
    
    
}





.center {
    width: 100%;
}


.headingH1 {
    text-align: center;
    line-height: 1.25;
    font-size: 24px;
    color: oklab(0.963963 -0.000228554 -0.00283051);
    font-family: font6;
    cursor: default;
    user-select: none;
}


.subHead {
    width: 100%;
    min-height: 588px;
    margin-top: 20px;
}


.infoDiv {
    width: auto;
    height: 64px;
    margin-bottom: 20px;

}


.inputDiv {
    width: auto;
    height: 40px;
    background-color: rgb(30, 31, 34);
    border-radius: 3px;
}

.input4 {
    padding: 10px;
    height: 100%;
    width: 100%;
    background-color: inherit;
    border-radius: 3px;
    outline: 0;
    border: none;
    font-size: 16px;
    color: rgb(216, 219, 222);
    font-family: font8;
    box-sizing: border-box;
}


.displayNameDiv {
    height: 64px;
    width: 100%;
}


fieldset {
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: inherit;
    font-style: inherit;
    font-family: inherit;
    font-size: 100%;
    width: 100%;
    display: block;
    
}


legend {
    font-family: font7;
    color: rgb(177, 182, 189);
    line-height: 1.3333333333333333;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .02em;
    font-size: 12px;
    margin-bottom: 8px;
    display: block;
    unicode-bidi: isolate;
    cursor: default;
    user-select: none;
}


legend span {
    padding-left: 1px;
    color: rgb(240, 115, 121);
    font-weight: 700;
    font-style: inherit;
    font-family: font7;
    font-size: 100%;
    vertical-align: baseline;
    
}


.inputs {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 4px;
}


.input {
    width: 30%;
    border-radius: 3px;
    min-height: 40px;
    background-color: rgb(30, 31, 34);
    position: relative;
}



.inputMonth {
    width: 35%;
    border-radius: 3px;
    background-color: rgb(30, 31, 34);
    position: relative;
}


.inputCenter {
    -webkit-box-align: center;
    align-items: center;
    background-color: rgb(30, 31, 34);
    border-color: rgb(30, 31, 34);
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    justify-content: space-between;
    min-height: 40px;
    position: relative;
    transition: border 0.15s;
    box-sizing: border-box;
    opacity: 1;
    outline: 0;
    font-family: font9;
    
}


.inputLeft {
    height: 29px;
    padding: 2px 8px;
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    flex: 1 1 0%;
    flex-wrap: wrap;
    padding: 2px 8px;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    cursor: default;
}


.inputDivText {
    height: 16px;
    margin-left: 2px;
    margin-right: 2px;
    position: absolute;
    color: hsl(214 calc(1 * 8.1%) 61.2% / 1);
    font-family: font9;
    box-sizing: border-box;
    text-align: center;
    line-height: 16px;
    top: 50%;
    transform: translateY(-50%);
    
}

.inputRight {
    height: 38px;
    width: 28px;
}


.inputMonthCenter {
    -webkit-box-align: center;
    align-items: center;
    background-color: rgb(30, 31, 34);
    border-color: rgb(30, 31, 34);
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    justify-content: space-between;
    min-height: 40px;
    position: relative;
    transition: border 0.15s;
    box-sizing: border-box;
    opacity: 1;
    outline: 0px;

}


.inputMonthLeft {
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    flex: 1 1 0%;
    flex-wrap: wrap;
    padding: 2px 8px;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    height: 29px;
    cursor: default;
}


.inputMonthLeftDivText {
    height: 16px;
    margin-left: 2px;
    margin-right: 2px;
    position: absolute;
    color: hsl(214 calc(1 * 8.1%) 61.2% / 1);
    font-family: font9;
    top: 50%;
    transform: translateY(-50%);
    box-sizing: border-box;
    text-align: center;
    line-height: 16px;
}



.inputMonthRight {
    height: 38px;
    width: 28px;
    align-items: flex-start;
    display: flex;
    justify-content: center;
}

.inputMonthRight svg:hover {
    color: hsl(215 calc(1 * 8.8%) 73.3% / 1);
    fill: currentColor;
    transition: 0.2s;
}


.inputRight svg:hover {
    color: hsl(215 calc(1 * 8.8%) 73.3% / 1);
    fill: currentColor;
    transition: 0.2s;
}


.slika {
    height: 20px;
    width: 20px;
    padding: 8px 8px 8px 0;
    color: #949BA4;
    fill: hsl(215 calc(1 * 8.8%) 73.3% / 1);
    cursor: pointer;
    
}


.sendEmailsOptional {
    width: 100%;
    margin-top: 8px;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    user-select: none;
}


.divOptional {
    display: flex;
    position: relative;
    margin-right: 8px;
    align-items: center;
    flex: 1 1 auto;
    font-size: 16px;
    margin-bottom: 0px;
    width: 100%;
    cursor: pointer;
}


.leftDiv {
    height: 22px;
    width: 22px;
    border: 1px solid hsl(223 calc(1 * 5.8%) 52.9% / 1);
    border-radius: 6px;
    display: flex;
    flex: 0 0 auto;
    align-items: center;
    justify-content: center;
    background-color: rgb(49, 51, 56);
}

.leftDiv svg {
    display: none;
    fill: none;
}


.leftDivJS {
    background-color: hsl(235 calc(1 * 85.6%) 64.7% / 1);
}


.leftDivJS svg {
    fill: white;
    display: block;
}



.checkbox {
    width: 24px;
    height: 24px;
    position: absolute;
    opacity: 0;
    border: none;
    outline: 0;
    cursor: pointer;
}


.rightDiv {
    width: 100%;
    padding-left: 8px;
    font-family: font8;
    font-size: 12px;
    line-height: 1.3333333333333333;
    font-weight: 400;
    text-transform: none;
    color: oklab(0.686679 -0.00398019 -0.0150182);
}


.rightDiv2 a {
    cursor: pointer;
    font-family: font8;
    font-weight: inherit;
}


.continueDiv {
    height: 44px;
    width: 100%;
    font-size: 16px;
    margin-top: 20px;
    position: relative;
    border-radius: 3px;
    text-align: center;
    line-height: 44px;
    color: rgb(248, 248, 254);
    font-family: font6;
    font-weight: 500;
    cursor: pointer;
 
}

.continueButton {
    width: 100%;
    height: 100%;
    padding: 2px 16px;
    border-radius: 3px;
    font-weight: inherit;
    font-family: inherit;
    font-size: inherit;
    background-color: hsl(235 calc(1 * 85.6%) 64.7% / 1);
    color: rgb(248, 248, 254);
    cursor: pointer;
}

.continueButton:disabled {
    opacity: .5;
    cursor: not-allowed;
    user-select: none;
}


.TOS {
    margin-top: 20px;
    width: 100%;
    height: 24px;
    margin-bottom: 0;

}


.TOSDiv {
    margin-right: 8px;
    width: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
    background-color: rgb(49, 51, 56);
    height: auto;
    user-select: none;
    box-sizing: border-box;
}

.leftDiv2 {
    height: 22px;
    width: 22px;
    border: 1px solid hsl(223 calc(1 * 5.8%) 52.9% / 1);
    border-radius: 6px;
    display: flex;
    flex: 0 0 auto;
    align-items: center;
    justify-content: center;
    background-color: rgb(49, 51, 56);
}

.leftDiv2 svg {
    fill: none;
    display: none;
}


.leftDiv2JS {
    background-color: hsl(235 calc(1 * 85.6%) 64.7% / 1);
}


.leftDiv2JS svg {
    fill: white;
    display: block;
}


.rightDiv2 {
    width: 100%;
    min-height: 16px;
    padding-left: 8px;
    color: rgb(219, 222, 225);
    font-family: font8;
    font-size: 12px;
    line-height: 1.3333333333333333;
    font-weight: 400;
}


.rightDiv2 a {
    color: oklab(0.700834 -0.0780351 -0.1469);

}


.rightDiv2 a:hover {
    text-decoration: underline;
}


.footer{
    height: auto;
    color: hsl(200 calc(1 * 100%) 49.4% / 1);
    width: auto;
    display: block;
    max-width: fit-content;
    font-size: 14px;
    text-decoration: none;
    font-family: font9;
    font-weight: 500;
    line-height: 16px;
    box-sizing: border-box;
    margin-top: 20px;
    
}

.footer:hover{
    text-decoration: underline;
}

.scroolDiv{
    height: 215px;
    width: 98%;
    position: absolute;
    z-index: 12;
    background-color: rgb(43, 45, 49);
    border: 1px black solid;
    border-radius: 0 0 3px 3px;
    margin-top:-257px;
    overflow-y: scroll;
    display: none;
}
.optionDiv{
    min-height: 40px;
    background-color: rgb(43, 45, 49);
    height: 16px;
    margin-left: 2px;
    margin-right: 2px;
    color: hsl(214 calc(1 * 8.1%) 61.2% / 1);
    font-family: font9;
    box-sizing: border-box;
    padding-left: 10px;
    line-height: 40px;
    cursor: pointer;
    user-select: none;
}

.optionDiv:hover{
    background-color: rgb(64,66, 73);
    color: hsl(215 calc(1 * 8.8%) 73.3% / 1);
}


.scroolDiv::-webkit-scrollbar {
    width: 4px;
    background-color: rgb(43, 45, 49);
    
}

.scroolDiv::-webkit-scrollbar-thumb {
    background-color: #1E1F22;
    border-radius: 10px; 
}



.textDisplayName{
    height: 12px;
    padding-bottom: 0px;
    width: 100%;
    overflow: hidden;
    margin-top: -12px;
    color: rgb(216, 219, 222);
    font-size: 14px;
    line-height: 1.2857142857142858;
    font-weight: 400;
    font-family:font8;
    display: block;
    text-align: bottom;
    opacity: 0;
    transition: height 0.3s ease;
    transition: padding 0.3s ease;
}

.textUsername{
    height: 12px;
    padding-bottom: 0px;
    width: 100%;
    overflow: hidden;
    margin-top: -12px;
    color: rgb(216, 219, 222);
    font-size: 14px;
    line-height: 1.2857142857142858;
    font-weight: 400;
    font-family:font8;
    display: block;
    text-align: bottom;
    opacity: 0;
    transition: height 0.3s ease;
    transition: padding 0.3s ease;
}


.textUsername.expand{
    height: 18px;
    padding-bottom: 20px;
    opacity: 1;
    transition: height 0.3s ease;
    transition: padding 0.3s ease;
}

.textDisplayName.expand{
    height: 18px;
    padding-bottom: 20px;
    opacity: 1;
    transition: height 0.3s ease;
    transition: padding 0.3s ease;
}

.displayBlock{
    display: block;
}



.redText{
    color: hsl(358 calc(1 * 92.9%) 72.4% / 1);
}

.redSpan{
    font-size: 12px;
    font-weight: 500;
    font-style: italic;
    text-transform: none;
    font-family: font5;
    letter-spacing: .02em;
}